<!DOCTYPE html>
<html lang="fr">
    <%- include('../shared/head', {css: ['details', 'navbar']}) %>
    <body>
        <%- include('../shared/navbar', {}) %>
        <div class="details">
            <h1>Details Ticket</h1>
            <h2>Id : <%= ticket[0]._id %></h2>
            <h2>Titre : <%= ticket[0].title %></h2>
            <h2>Description : <%= ticket[0].description %></h2>
            <h2>Responsable : <%= ticket[0].responsible %></h2>
            <h2>Priorité : <%= ticket[0].priority %></h2>
            <h2>Statut :                             <% if (ticket[0].completed){ %><img src="/images/traite.png" style="width:50px;height:50px;"/><%}else{%><img src="/images/nontraite.png" style="width:50px;height:50px;"/><%};%></h2>
                <div class="edit-ticket">
                    <p><a href="/ticket/<%=currentticket%>/edit">Edit this ticket</a></p>
                </div>
        </div>
        <div class="form-tickets">
            <form method="POST" action="/ticket/show">
                <div class="form-group">
                    <input value="<%=currentuser%>" type="hidden" class="form-control" name="currentuser" />
                </div>
                <div class="form-group">
                    <input value="<%=currentticket%>" type="hidden" class="form-control" name="currentticket" />
                </div>


                <div class="form-group">
                    <label>Description: </label>
                    <textarea  type="text" class="form-control" name="content"></textarea>
                </div>


                <div class="form-group">
                    <input type="submit" class="btn btn-primary" />
                </div>

            </form>

        </div>
        <div class="comments-ticket">
        <%if (ticket[0].content){%>
        <%for(var i=0;i<ticket.length ;i++){%>
            <div class="comment">
            <p><%=ticket[i].dateandtime%> <%=ticket[i].pseudo%> a écrit :</p>
            <p><%=ticket[i].content%></p>
            </div>
        <%};%>
        <%};%>
        </div>
    </body>
</html>

